@import 'tailwindcss';

[data-theme='dark'] {
	color-scheme: dark;
}

:root {
	--s-5: clamp(0.33rem, 0.39rem - 0.29vw, 0.18rem);
	--s-4: clamp(0.41rem, 0.47rem - 0.31vw, 0.25rem);
	--s-3: clamp(0.51rem, 0.57rem - 0.31vw, 0.35rem);
	--s-2: clamp(0.64rem, 0.69rem - 0.27vw, 0.5rem);
	--s-1: clamp(0.8rem, 0.84rem - 0.18vw, 0.71rem);
	--s0: clamp(1rem, 1rem + 0vw, 1rem);
	--s1: clamp(1.25rem, 1.19rem + 0.32vw, 1.41rem);
	--s2: clamp(1.56rem, 1.39rem + 0.85vw, 2rem);
	--s3: clamp(1.95rem, 1.61rem + 1.71vw, 2.83rem);
	--s4: clamp(2.44rem, 1.83rem + 3.04vw, 4rem);
	--s5: clamp(3.05rem, 2.04rem + 5.08vw, 5.66rem);
}
@theme {
	--color-bg-dark: oklch(90% 0 var(--color-hue, 0));
	--color-bg: oklch(95% 0 var(--color-hue, 0));
	--color-bg-light: oklch(100% 0 var(--color-hue, 0));

	--color-text: oklch(5% 0 var(--color-hue, 0));
	--color-text-muted: oklch(30% 0 var(--color-hue, 0));

	--color-primary: oklch(68% 0.19 var(--color-hue, 0));
	--color-primary-content: white;

	--size-measure: 65ch;
}

[data-theme='dark'] {
	--color-bg-dark: oklch(0% 0 var(--color-hue, 0));
	--color-bg: oklch(5% 0 var(--color-hue, 0));
	--color-bg-light: oklch(10% 0 var(--color-hue, 0));

	--color-text: oklch(95% 0 var(--color-hue, 0));
	--color-text-muted: oklch(75% 0 var(--color-hue, 0));
}

@layer base {
	button {
		cursor: pointer;
	}

	h1,
	.heading-1 {
		@apply text-text text-3xl font-bold tracking-tight not-first:mt-[1em];
	}

	h2,
	.heading-2 {
		@apply text-text text-2xl font-bold tracking-tight not-first:mt-[1em];
	}

	h3,
	.heading-3 {
		@apply text-text text-xl font-bold not-first:mt-[1em];
	}

	h4,
	.heading-4 {
		@apply text-text text-lg font-bold not-first:mt-[1em];
	}

	.display-1 {
		font-size: clamp(2rem, 9vw, 3.5rem);
	}

	.display-2 {
		font-size: clamp(1.5rem, 6vw, 2.5rem);
	}

	.display-3 {
		font-size: clamp(1rem, 4vw, 1.5rem);
	}

	.display-4 {
		font-size: clamp(0.75rem, 2vw, 1rem);
	}

	th {
		text-align: start;
	}

	tr {
		border-bottom: 1px solid var(--color-bg-dark);
	}

	th,
	td {
		padding-block: 0.5rem;
	}

	figcaption {
		@apply text-text text-sm;
	}

	blockquote {
		@apply border-primary my-2 border-l-4 pl-4 font-medium italic;
	}

	hr {
		@apply border-bg-dark;
	}

	.article {
		img,
		video {
			@apply rounded-lg;
		}
	}
}

@utility btn {
	@apply inline-flex items-center justify-center gap-2 rounded-md px-4 py-2 font-medium transition-all duration-300 disabled:cursor-not-allowed disabled:opacity-50;

	&:hover:not(:disabled) {
		transform: translateY(-2px);
	}
}

@utility layout {
	@apply mx-auto grid max-w-2xl px-4 pt-[4vh];
}
/* Cards */
@utility card {
	@apply border-bg-dark overflow-hidden rounded-lg border shadow;
}

/* Form Elements */
@utility label {
	@apply flex flex-col gap-1;
}
@utility input {
	width: clamp(3rem, 20rem, 100%);
	@apply bg-bg focus-within:ring-primary flex shrink items-center gap-2 rounded px-3 py-2 ring ring-transparent disabled:cursor-not-allowed disabled:opacity-50;

	:where(input) {
		@apply grow outline-hidden;
	}
}

@utility variant-base {
	@apply bg-bg-dark text-text;
}

@utility variant-primary {
	@apply bg-primary text-primary-content;
}

@utility variant-ghost {
	@apply bg-bg text-text;
}

@utility variant-light {
	@apply bg-primary/30;
}

@utility variant-outline {
	@apply border-primary text-text hover:bg-primary hover:text-primary-content border-2;
}

:root {
	--font-body: 'Inter Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	font-family: var(--font-body);
	scroll-behavior: smooth;
}

body:has(dialog[open]) {
	overflow: hidden;
	scrollbar-gutter: stable;
}

/* :root *::-webkit-scrollbar { */
/* -webkit-appearance: none; */
/* width: 8px;
	height: 8px; */
/* } */

/* :root *::-webkit-scrollbar-track {
	background-color: transparent;
} */

/* :root *::-webkit-scrollbar-thumb {
	background-color: var(--color-bg-dark);
	border-radius: 1rem;
} */

body {
	min-height: 100vh;
	margin: 0;
	line-height: 1.5;
	/* background-attachment: fixed;
	background-size: 100vw 100vh; */
	background-color: var(--color-bg-light);
	color: var(--color-text);
}

/* pre {
	font-family: var(--font-mono);
	border-radius: 3px;
	padding: 0.5em;
	overflow-x: auto;

}

*/
code {
	@apply bg-bg-dark rounded-lg px-1.5 whitespace-nowrap;
}

.text-column {
	fluid: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

ul {
	list-style-type: disc;
	padding-left: 1.5rem;
}

ol {
	list-style-type: decimal;
	padding-left: 1.5rem;
}

ul ul {
	list-style-type: circle;
}

li {
	margin-top: 0.5rem;
}

li > * {
	margin-top: 0.5rem;
}

li::marker {
	@apply text-primary;
}

.footnotes {
	@apply text-text text-sm;

	li {
		margin-top: 1rem;
	}

	li::marker {
		@apply text-text;
	}
}

/* Custom css */
p a:not(:has(code)),
.slide-link {
	@apply text-primary to-primary bg-gradient-to-b from-transparent from-50% to-50%;
	background-size: auto 185%;
	transition:
		background 0.3s,
		color 0.3s;

	&:hover {
		background-position-y: 100%;
		color: var(--color-primary-content);
	}
}

li a,
a:has(code) {
	@apply text-primary;
}

.preview {
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	pointer-events: none;
	--h: 56px;
	position: fixed;
	width: 100%;
	height: var(--h);
	z-index: 1;
	backdrop-filter: blur(8px);
	mask-image: linear-gradient(to top, #000, transparent);
	background-image: linear-gradient(to top, var(--color-surface) 25%, transparent);
	bottom: 0;
}

.brand-gradient {
	background-image: linear-gradient(
		to bottom right,
		var(--color-primary),
		var(--color-primary),
		var(--color-bg-light),
		var(--color-bg-light)
	);
	color: #fff;
	background-size: 300% 300%;
	background-position: 0% 0%;
	transition:
		background-position 0.7s,
		translate 1s;

	&:hover {
		translate: 0 -0.25rem;
		background-position: 100% 100%;
	}
}
